<article>
    <h2>{{strings/article/0/title}}</h2>
    <form action="/auth/login" method="post">
        <input type="email" name="email" placeholder="{{strings/article/0/text/0/p}}" {{#if preload/email}}value="{{preload/email}}" {{/if}}required>
        <br>
        <input type="password" name="password" placeholder="{{strings/article/0/text/1/p}}" required>
        <br>
        <button type="submit">{{strings/article/0/btn/0/btn}}</button>
    </form>
    <a href="/auth/recover">{{strings/article/0/btn/1/btn}}</a>
    <br>
    <a href="/auth/register">{{strings/article/0/btn/2/btn}}</a>
    <br>
    <a href="/">{{strings/article/0/btn/3/btn}}</a>
</article>