<article>
    <h2>{{strings/article/0/title}}</h2>
    <form action="/auth/register" method="post">
        <input type="text" name="firstname" placeholder="{{strings/article/0/text/0/p}}" {{#if preload/firstname}}value="{{preload/firstname}}" {{/if}}required>
        <br>
        <input type="text" name="lastname" placeholder="{{strings/article/0/text/1/p}}" {{#if preload/lastname}}value="{{preload/lastname}}" {{/if}}required>
        <br>
        <select name="gender">
            <option value="none">{{strings/article/0/input/0/input}}</option>
            <option value="F"{{#if preload/gender/female}} selected{{/if}}>{{strings/article/0/input/1/input}}</option>
            <option value="M"{{#if preload/gender/male}} selected{{/if}}>{{strings/article/0/input/2/input}}</option>
        </select>
        <br>
        <input type="email" name="email" placeholder="{{strings/article/0/text/2/p}}" {{#if preload/email}}value="{{preload/email}}" {{/if}}required>
        <br>
        <input type="password" name="password" placeholder="{{strings/article/0/text/3/p}}" required>
        <br>
        <input type="password" name="confirm" placeholder="{{strings/article/0/text/4/p}}" required>
        <br>
        <button type="submit">{{strings/article/0/btn/0/btn}}</button>
    </form>
    <a href="/auth/login">{{strings/article/0/btn/1/btn}}</a>
    <br>
    <a href="/">{{strings/article/0/btn/2/btn}}</a>
</article>