<article>
    <h2>{{strings/article/0/title}}</h2>
    <form action="/auth/register" method="post">
        <input type="text" name="username" placeholder="{{strings/article/0/text/0/p}}">
        <br>
        <input type="email" name="email" placeholder="{{strings/article/0/text/1/p}}">
        <br>
        <input type="password" name="password" placeholder="{{strings/article/0/text/2/p}}">
        <br>
        <input type="password" name="confirm" placeholder="{{strings/article/0/text/3/p}}">
        <br>
        <button type="submit">{{strings/article/0/btn/0/btn}}</button>
    </form>
    <a href="/auth/register">{{strings/article/0/btn/1/btn}}</a>
    <br>
    <a href="/">{{strings/article/0/btn/2/btn}}</a>
</article>