<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothes Designer</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/pages/{{{stylesheet}}}.css" type="text/css">
    {{#if flash}}<link rel="stylesheet" href="/partials/flash/flash.css" type="text/css">{{/if}}
</head>
<body>
    <section id="background-image"><img src="/img/backgroundImg.png" alt="background image"><section class="background-opacity"></section></section>
    {{#if strings/title}}
    <header style="z-index: 100;">
        <h1>{{strings/title}}</h1>
    </header>
    {{/if}}
    {{>flash}}
    <main id="main" style="z-index: 0;">
        {{{ body }}}
    </main>
    <footer id="footer">
        <p>This project is below GPL 3.0 license or later</p>
        <script src="/js/main.js"></script>
        {{#if script}}<script src="/js/pages/{{{script}}}.js"></script>{{/if}}
        {{#if flash}}<script src="/js/pages/{{{script}}}.js"></script>{{/if}}
    </footer>
</body>
</html>