<article>
    <h2>{{strings/article/0/title}}</h2>
    <form action="/tickets/add" method="post">
        <section class="type">
            <label for="type">{{strings/article/0/text/0/p}}</label>
            <br>
            <select name="type" id="type">
                <option value="NONE">{{strings/article/0/select/0/opt}}</option>
            </select>
        </section>
        <section class="desc">
            <label for="desc">{{strings/article/0/text/1/p}}</label>
            <br>
            <textarea name="desc" id="desc" placeholder="{{strings/article/0/text/2/p}}"></textarea>
            <p>{{strings/article/0/text/3/p}}</p>
        </section>
        <section class="ref">
            <input type="text" id="ref" name="ref" placeholder="{{strings/article/0/text/4/p}}" readonly>
            <br>
            <ul id="ref-list">
            </ul>
            <br>
            <button type="button" id="addRefImage">{{strings/article/0/btn/0/btn}}</button>
        </section>
        <button type="submit">{{strings/article/0/btn/2/btn}}</button>
    </form>
</article>