<article>
    <h2>{{strings/article/0/title}}</h2>
    <form action="/tickets/add" method="post" enctype="multipart/form-data">
        <section class="type">
            <label for="type">{{strings/article/0/text/0/p}}</label>
            <br>
            <select name="type" id="type">
                <option value="NONE">{{strings/article/0/select/0/opt}}</option>
                {{#if worktype}}
                {{#each worktype}}
                <option value="{{idworktype}}">{{name}}</option>
                {{/each}}
                {{/if}}
            </select>
        </section>
        <section class="desc">
            <label for="desc">{{strings/article/0/text/1/p}}</label>
            <br>
            <textarea name="desc" id="desc" placeholder="{{strings/article/0/text/2/p}}" required></textarea>
            <p>{{strings/article/0/text/3/p}}</p>
        </section>
        <section class="ref">
            <label for="ref">{{strings/article/0/text/4/p}}</label>
            <br>
            <input type="file" name="ref-images" id="ref" accept="image/png, image/jpeg" multiple>
            <p>*{{strings/article/0/text/5/p}}*</p>
        </section>
        <button type="submit">{{strings/article/0/btn/0/btn}}</button>
    </form>
</article>